/* src/components/Carousel.css */
.carousel {
    position: relative;
    width: 800px;
    margin: 0 auto;
    overflow: hidden;
  }
  
  .carousel-images {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  .carousel-image {
    min-width: 100%;
    transition: opacity 0.5s ease-in-out;
  }
  
  .carousel-image.active {
    opacity: 1;
  }
  
  .carousel-button {
    position: absolute;
    top: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 24px;
    z-index: 1;
  }
  
  .carousel-button.left {
    left: 10px;
    transform: translateY(-50%);
  }
  
  .carousel-button.right {
    right: 10px;
    transform: translateY(-50%);
  }
  